@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seattle Central College<br />
    1701 Broadway<br />
    Seattle, WA 98122<br />
    <abbr title="Phone">P:</abbr>
    206.934.3800
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ge.jin@seattlecentral.com">gjin@seattlecentral.com</a>
</address>