@model MyBakery.Models.Message
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<p>@Html.DisplayFor(model => Model.text)</p>
<br />
<p>@Html.ActionLink("Continue purchase", "Details")</p>
<p>@Html.ActionLink("Check out", "Receipt")</p>